{
	email {env.ACME_EMAIL}
}

(porkbun_tls) {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_API_SECRET_KEY}
		}
		resolvers curitiba.ns.porkbun.com fortaleza.ns.porkbun.com maceio.ns.porkbun.com salvador.ns.porkbun.com
	}
}

photos.home.trly.dev {
	import porkbun_tls
	reverse_proxy immich-server:2283
}

scrutiny.home.trly.dev {
	import porkbun_tls
	reverse_proxy scrutiny-web:8080
}

prometheus.home.trly.dev {
	import porkbun_tls
	reverse_proxy prometheus-server:9090
}

perses.home.trly.dev {
	import porkbun_tls
	reverse_proxy prometheus-perses:8080
}

git.home.trly.dev {
	import porkbun_tls
	reverse_proxy devops-gogs:3000
}
