{
	email {env.ACME_EMAIL}
}

*.7k2z3k3.home.trly.dev, 7k2z3k3.home.trly.dev {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_API_SECRET_KEY}
		}
		resolvers curitiba.ns.porkbun.com fortaleza.ns.porkbun.com maceio.ns.porkbun.com salvador.ns.porkbun.com
	}

	@oidc host oidc.7k2z3k3.home.trly.dev
	handle @oidc {
		reverse_proxy infrastructure-pocketid:9091
	}
}
