pki.localhost {
    reverse_proxy https://pki:9000 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

ai.localhost {
    reverse_proxy open-webui:8080
}

drop.localhost {
    reverse_proxy pairdrop-app:8080
}

keycloak.localhost {
    reverse_proxy https://keycloak:8443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}
