
*.test.blackmesa.lan {
  tls travis.lyons@gmail.com {
    ca https://pki:9000/acme/acme/directory
    ca_root /step/pki/pki.test.blackmesa.lan.crt
  }
  respond "Quad-Ops Managed Local Proxy"
}

pki.test.blackmesa.lan {
    reverse_proxy https://pki:9000 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

ai.test.blackmesa.lan {
    reverse_proxy open-webui:8080
}

drop.test.blackmesa.lan {
    reverse_proxy pairdrop-app:3000
}

keycloak.test.blackmesa.lan {
    reverse_proxy https://keycloak:8443 {
        transport http {
            tls_insecure_skip_verify
        }
    }
}

