services:
  web:
    image: docker.io/amir20/dozzle:latest
    volumes:
      - /run/podman/podman.sock:/var/run/docker.sock:ro,z
    networks:
      - infrastructure-proxy
    environment:
      - DOZZLE_TIMEOUT=10s
    x-quad-ops-depends-on:
      - project: infrastructure
        service: reverse-proxy
networks:
  infrastructure-proxy:
    external: true
