{
  email travis.lyons@gmail.com
  acme_ca https://pki:9000/acme/acme/directory
  acme_ca_root /config/step_ca.crt
}

media.localdomain {
  tls internal
  reverse_proxy immich-server:2283
}

scrutiny.media.localdomain
  tls internal
  reverse_proxy scrutiny-web:8080
}

dozzle.media.localdomain
  tls internal
  reverse_proxy dozzle-web:8080
}

beszel.media.localdomain
  tls internal
  reverse_proxy beszel-hub:8090
}
