{
	email {env.ACME_EMAIL}
}

*.meadowridge.trly.dev, meadowridge.trly.dev {
	tls {
		dns porkbun {
			api_key {env.PORKBUN_API_KEY}
			api_secret_key {env.PORKBUN_API_SECRET_KEY}
		}
		resolvers curitiba.ns.porkbun.com fortaleza.ns.porkbun.com maceio.ns.porkbun.com salvador.ns.porkbun.com
	}

	@immich host photos.meadowridge.trly.dev
	handle @immich {
		reverse_proxy immich-server:2283
	}

	@scrutiny host scrutiny.meadowridge.trly.dev
	handle @scrutiny {
		reverse_proxy scrutiny-web:8080
	}

	@dozzle host dozzle.meadowridge.trly.dev
	handle @dozzle {
		reverse_proxy dozzle-web:8080
	}

	@beszel host beszel.meadowridge.trly.dev
	handle @beszel {
		reverse_proxy beszel-hub:8090
	}
}
