media.localdomain {
  reverse_proxy immich-server:2283
}

scrutiny.media.localdomain
  reverse_proxy scrutiny-web:8080
}

dozzle.media.localdomain
  reverse_proxy dozzle-web:8080
}

beszel.media.localdomain
  reverse_proxy beszel-hub:8090
}
